*{margin:0;padding:0}
.wrapper-navbar{
    background-color: #f08632;
}
.navbar-list-item:hover{
    
    opacity: 0.8;
}

.navbar-list-item-option{
    color: #ffffff !important;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
}
.footer-bg{
    background: #6c757d7d !important;
}
.view_more{
    text-decoration: none;
    color: red;
    font-weight: bold;
    margin: 10px 0px;
}
.restaurant_brand{
    color: #70a1ff;
    text-transform: uppercase;
}
.flex_grow{
    flex-grow: 1;
    align-items: center;
}
#restaurant-detail{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    
    transform: translate(-50%, -50%);
    z-index: 2;
}
.img-max-height{
    max-height: 360px;
}
#order_confirm{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 18%;
}